<footer class="footer">
    <div class="company">
        <div class="company-title">
            <img src="static/images/step_by_step_logo_white.png" alt="Step by Step Immo Logo">
        </div>
        <p class="company-text">
            Ce site est la propriété de <span class="dtankouo">Hugues DTANKOUO</span>, Ingénieur de conception en informatique.
            Il se reserve tous les droits sur le contenu de ce site.
            Toutes reproductions, même partielles, est interdite et passible de poursuites.
        </p>
        <p class="company-copyright">
            ©{{ year }} STEP by STEP IMMO                                                 Tous droits réservés
        </p>
    </div>
    <div class="company-address">
        <p class="company-place">
            Pour l'instant, nous assurons un support uniquement pour nos utilateurs ayant un projet en direction du <span class="country-footer">Cameroun</span> et du <span class="country-footer">Canada</span>, mais nous comptons nous étendre à d'autres pays dans le futur.
        </p>
        <div class="company-contact">
            <div class="whatsapp-contact">
                <span class="whatsapp-contact-label">Tel: </span>
                <span class="whatsapp-contact-text">+1 (819) 529-4795</span>
            </div>
            <div class="email-contact">
                <span class="email-contact-label">Mail: </span>
                <span class="email-contact-text">15p035&#64;polytechnique.cm</span>
            </div>
        </div>
        <div class="company-media">
            <div class="company-media-x">
                <div class="company-media-cover">
                    <img src="static/images/landing-page/facebook.png" alt="Facebook logo">
                </div>
                <a href="http://www.facebook.com/ing.hugues.dtankouo">Ingénieur Hugues Dtankouo</a>
            </div>
            <div class="company-media-x">
                <div class="company-media-cover">
                    <img src="static/images/landing-page/instagram.png" alt="Instagram logo">
                </div>
                <a href="http://instagram.com/dtankouo">&#64;dtankouo</a>
            </div>
            <div class="company-media-x">
                <div class="company-media-cover">
                    <img src="static/images/landing-page/linkedin.png" alt="Linkedin logo">
                </div>
                <a href="http://www.linkedin.com/in/dtankouo">&#64;dtankouo</a>
            </div>
        </div>
    </div>
    <div class="company-news-letter">
        <div class="news-letter-title">
            News Letter gratuite
        </div>
        <div class="news-letter-subtitle">
            Inscrivez-vous à notre newsletter gratuite pour être informé sur toutes nos offres et opportunités.
        </div>
        <div class="footer-newsletter">
            <input type="email" name="news-letter-email" 
                   id="footer-newsletter-email"
                   placeholder="Ajoute ton adresse courriel pour recevoir nos offres">
            <div class="footer-newsletter-input-arrow" onclick="subscribeToFreeNewsletter()">
                <img src="static/images/landing-page/long-right-arrow.png" alt="Arrow">
            </div>
        </div>
    </div>
</footer>